

        <% posts.forEach(function(post) { %>

 
                  
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="blog-post-image">
                        <img class="img-responsive" src="<%= post.img %>" alt="" />
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                        <a href="/<%= post.slug %>"><%= post.title %></a>
                        </h2>
                        <div class="blog-meta">
                            <span><%= moment().format('Do MMMM, YYYY'); %></span>
                            <span>by <a href="">Admin</a></span>
                            <span><a href=""><%= post.tag %></a></span>
                        </div>
                        <p id="summ_content"><%= post.content %></p>
                        <a href="/<%= post.slug %>" class="btn btn-dafault btn-details">Continue Reading</a>
                    </div>
                    
                </article>
             <% }); %>
